body {
    font-family: 'Cormorant Garamond';
  }
  
  
  .header {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1330px;
    min-width: 1280px;
    margin: auto;
    align-items: center;
  }
  
  .header-p {
    margin-bottom: 0px;
  }

  .header-link {
      margin: 0;
  }
  
  .flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  .menu {
    display: flex;
    justify-content: center;
    min-height: 75px;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1330px;
    min-width: 1280px;
    margin: 40px auto;
    text-decoration: none;
  }

  .menu-link {
    font-size: 18px;
    text-decoration: none;
    color: #10191E;
    margin-right: 20px;
  }

  .project {
      background-image: url(./image/nv.jpg);
      width: 500px;
      height: 600px;
  }
  .flex-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }